{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact.css'%}">
{% endblock css %}

{% block content %}
<div class="cont">
    <div id="frame">
        <H1> ZADAJ PYTANIE</H1>

        <div class="FormContact">
            <div>
                <form method="POST">
                  <label>Pole 1</label>
                  <input type="text">
                   <label>Pole 2</label>
                  <input type="text">

                    <div class="submit">
                        <button type="submit">Wyslij</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
