{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trips.css'%}">
{% endblock css %}

{% block content %}

<div class="contOferty">
    <div id="oferty">
        <div class="boxWycieczki">
            <div class="imgBx">
               <!--<img src="{{ trip.main_image.url }}"> -->
               <img src="https://www.swiatobrazu.pl/zdjecie/artykuly/550841/idealne-zdjecie-wiewiorki-ktore-spodobalo-sienbspinternautom-na-calym-swiecie.jpg">
            </div>

            <a href="#" class="szczegoly">Sprawdź szczegóły oferty</a>

            <div class="content">
                <h2>Tytul<br>
                    <span>
                        Hotel: Nazwa Hotelu
                        <br>
                        Ocena: 5/5
                        <br>
                        Czas trwania: ilość dni
                        <br>
                        Cena: 20200 zł
                </span>
                </h2>
            </div>
        </div>

      <div class="boxWycieczki">
            <div class="imgBx">
               <!--<img src="{{ trip.main_image.url }}"> -->
               <img src="https://www.swiatobrazu.pl/zdjecie/artykuly/550841/idealne-zdjecie-wiewiorki-ktore-spodobalo-sienbspinternautom-na-calym-swiecie.jpg">
            </div>

            <a href="#" class="szczegoly">Sprawdź szczegóły oferty</a>

            <div class="content">
                <h2>Tytul<br>
                    <span>
                        Hotel: Nazwa Hotelu
                        <br>
                        Ocena: 5/5
                        <br>
                        Czas trwania: ilość dni
                        <br>
                        Cena: 20200 zł
                </span>
                </h2>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
