{% extends "account/base.html" %}
{% load static i18n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block inner %}
<div class="container">
  <h1>{% trans "Mój Profil" %}</h1>

  <div class="row">
    <div class="col-sm-12">

      <h2>{% trans "Nazwa użytkownika" %}: {{ object.username }}</h2>
      {% if object.emailaddress_set.all %}
        {% for emailaddress in user.emailaddress_set.all %}
        <p>{% trans "Email address" %}: {{ emailaddress.email }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <!--<a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>-->
    <a class="btn btn-info" href="#" role="button">Moje rezerwacje</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Dodaj/Usuń E-Mail</a>
    <a class="btn btn-primary" href="{% url 'account_reset_password' %}" role="button">Zmień hasło</a>
    <a class="btn btn-danger" href="{% url 'users:delete' %}" role="button">Usuń konto</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock inner %}

