{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trips.css'%}">
{% endblock css %}

{% block content %}

<div class="contOferty">
    <div id="oferty">
        {% for trip in trips %}
        <div class="boxWycieczki">
            <div class="imgBx">
              {% for picture in pictures %}
                {% if picture.trip == trip %}
               <img src="{{picture.picture_url}}">
                {% endif %}
              {% endfor %}
            </div>

            <a href="{% url 'travels:details' slug=trip.slug %}" class="szczegoly">Sprawdź szczegóły oferty</a>

            <div class="content">
                <h2>{{trip.title}}<br>
                    <span>
                        {{trip.country}} {{trip.city}}
                        <br>
                        {% if trip.rating != None %}
                        Ocena: {{trip.rating}}/6
                        <br>
                        {% endif %}
                        Czas trwania: {{trip.duration}} dni
                        <br>
                        Cena od {{trip.price}} zł/os.
                </span>
                </h2>
            </div>
        </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">następna</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
</div>
{% endblock content %}
